AIRFLOW_UID=1000
FERNET_KEY=dev_fernet_key

_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

SHARED_DATA_DIR=/data

# Airflow picks up any AIRFLOW_CONN_<CONN_ID> env var as a Connection.
AIRFLOW_CONN_CODA_DEFAULT='{"conn_type": "http", "host": "https://coda.io/apis/v1", "password": "<your-coda-api-token>"}'

